 ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body {
    background: #000;
    font-family: futura;
  }
  
  img {
    display: block;
    border: 0;
    outline: none;
  }
  
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  
  a.scrollto {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    transition: all 200ms;
    opacity: 0.5;
  }
  a.scrollto:hover {
    opacity: 1;
  }
  
  .panel.full {
    clear: both;
    width: 100%;
    height: 1000px;
    height: 100vh;
    background: transparent;
    text-align: center;
    position: relative;
  }
  .panel.full h1 {
    position: absolute;
    top: 47%;
    transform: translateY(-47%);
    width: 100%;
  }

  .catalogues {
      margin-top: 50px;
  }
  
  .parallax-mirror.transition {
    transition: top 200ms;
  }
  
  .grid {
    clear: both;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    transform-style: preserve-3d;
    position: relative;
  }
  .grid:after {
    content: "";
    position: absolute;
    bottom: -97vh;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  
  .grid-item {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
  }
  .grid-item.width-half {
    width: 12.5%;
  }
  .grid-item.width2 {
    width: 50%;
  }
  .grid-item a {
    display: block;
  }
  .grid-item a:before {
    transition: all 500ms;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    z-index: 1;
  }
  .grid-item a:after {
    font-family: futura, sans serif;
    border: 1px solid #999;
    background: #111;
    content: "SHOP NOW";
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 140px;
    max-width: 60%;
    margin: 0 auto;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    opacity: 0;
    transition: all 150ms ease-in-out;
    border-radius: 3px;
    box-shadow: 0px 3px 9px 0px #000;
    z-index: 2;
    text-transform: uppercase;
  }
  .grid-item a[data-btn-text]:after {
    content: attr(data-btn-text);
  }
  .grid-item img {
    width: 100%;
    transition: all 450ms;
  }
  .grid-item.bigvid {
    height: 18.7vw;
  }
  .grid-item.bigvid img {
    visibility: hidden;
    opacity: 0;
  }
  .grid-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    color: #fff;
    z-index: 1;
    top: 50%;
    margin-top: 1px;
    transition: all 200ms;
    opacity: 0;
  }
  .grid-item:hover span {
    margin-top: 50px;
    opacity: 0.95;
  }
  .grid-item:hover img {
    transform: scale(1.07, 1.07);
  }
  .grid-item:hover a:before {
    opacity: 0.8;
  }
  .grid-item:hover a:after {
    top: 50%;
    opacity: 1;
  }
  .grid-item.height2:hover img {
    transform: scale(1.035, 1.035);
  }
  
  .vjs-control-bar {
    display: none;
  }
  
  @media (max-width: 1199px) {
    .grid-item {
      width: 33.33%;
    }
  
    .grid-item.width-half {
      width: 16.665%;
    }
  
    .grid-item.width2 {
      width: 100%;
    }
  }
  @media (max-width: 899px) {
    .grid-item {
      width: 50%;
    }
  
    .grid-item.width-half {
      width: 25%;
    }
  
    .grid-item.width2 {
      width: 100%;
    }
  }
  @media (max-width: 599px) {
    .grid-item {
      width: 100%;
    }
  
    .grid-item.width-half {
      width: 50%;
    }
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeOutUp {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  .fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }
  
  .hvr-wobble-vertical {
    animation-name: hvr-wobble-vertical;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  /* Wobble Vertical */
  @-webkit-keyframes hvr-wobble-vertical {
    2% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    4% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    6% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    10% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    12% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    16%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-wobble-vertical {
    2% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    4% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    6% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    10% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    12% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    16%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }