<div class="catalogues">
        <ul _ngcontent-wxx-c21="" id="grid1" class="grid">

                <ng-container *ngFor="let item of products">
                        <li _ngcontent-wxx-c21="" class="grid-item"><img _ngcontent-wxx-c21="" src={{item.imageUrl}}>
                        </li>
                        <li _ngcontent-wxx-c21="" class="grid-item"><a _ngcontent-wxx-c21="" href="#"><img
                                                _ngcontent-wxx-c21="" src="../../assets/plats.png"></a><span
                                        _ngcontent-wxx-c21="">{{item.libelle_produit_commerciale}}</span></li>

                </ng-container>
                <!-- <li _ngcontent-wxx-c21="" class="grid-item"><img _ngcontent-wxx-c21=""
                                src="https://www.madison-saintjeandeluz.com/wp-content/uploads/2019/02/Madison-saint-jean-de-luz-H%C3%B4tel-quatre-%C3%A9toiles-poisson--e1564490955673-600x450.jpg">
                </li> -->
                <!-- 

                <li _ngcontent-wxx-c21="" class="grid-item"><a _ngcontent-wxx-c21="" href="#"><img _ngcontent-wxx-c21=""
                                        src="http://fpoimg.com/600x450?text=ONE&amp;bg_color=292929&amp;text_color=ffffff"></a><span
                                _ngcontent-wxx-c21="">Poissons</span></li>
                <li _ngcontent-wxx-c21="" class="grid-item"><a _ngcontent-wxx-c21="" href="#"><img _ngcontent-wxx-c21=""
                                        src="http://fpoimg.com/600x450?text=THREE&amp;bg_color=222222&amp;text_color=ffffff"></a><span
                                _ngcontent-wxx-c21="">Omelette & Céréales</span></li>
                <li _ngcontent-wxx-c21="" class="grid-item"><img _ngcontent-wxx-c21=""
                                src="https://petitbazardefille.com/wp-content/uploads/2018/10/IMG_75041-1-600x450.jpg">
                </li>

                <li _ngcontent-wxx-c21="" class="grid-item"><img _ngcontent-wxx-c21=""
                                src="https://img.over-blog-kiwi.com/600x450-ct/0/97/74/14/20200115/ob_44846d_4.jpg">
                </li>
                <li _ngcontent-wxx-c21="" class="grid-item"><a _ngcontent-wxx-c21="" href="#"><img _ngcontent-wxx-c21=""
                                        src="http://fpoimg.com/600x450?text=ONE&amp;bg_color=292929&amp;text_color=ffffff"></a><span
                                _ngcontent-wxx-c21="">Gauffre</span></li>
                <li _ngcontent-wxx-c21="" class="grid-item"><a _ngcontent-wxx-c21="" href="#"><img _ngcontent-wxx-c21=""
                                        src="http://fpoimg.com/600x450?text=THREE&amp;bg_color=222222&amp;text_color=ffffff"></a><span
                                _ngcontent-wxx-c21="">Fruits</span></li>
                <li _ngcontent-wxx-c21="" class="grid-item"><img _ngcontent-wxx-c21=""
                                src="https://colombiainfinita.com/wp-content/uploads/2019/10/La-Colombie-paradis-des-fruits-600x450.jpg">
                </li> -->


        </ul>
</div>