<!-- 
      <div class="container">    
        <div class="col-md-6 col-md-offset-3 loginBox">    
            Welcome,  {{id}}    
            <a href="javascript:void(0);" (click)="logout()">Logout</a>    
        </div>    
      </div>    -->
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <ng-container *ngFor="let item of actualites">
        <div class="carousel-item active" [style.backgroundImage]="'url('+ item.imageUrl +')'">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">{{ item.titre }}</h2>
            <p class="lead">{{ item.description }}</p>
          </div>
        </div>
      </ng-container>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <li _ngcontent-wxx-c21="" class="grid-item">
          <img src="https://cdn.pixabay.com/photo/2015/06/08/15/13/hamburger-801942_960_720.jpg" class="card-img-top"
            alt="...">
        </li>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Burger Sauvage</h5>
          <div class="card-text text-black-50">Bacon & frites maison</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">

          <li _ngcontent-wxx-c21="" class="grid-item">
            <img src="https://cdn.pixabay.com/photo/2014/08/26/15/36/canteen-428126_960_720.jpg" class="card-img-top"
              alt="...">
          </li>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Salade Endiablé</h5>
            <div class="card-text text-black-50">Manger bio et bon</div>
          </div>
        </div>

    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <li _ngcontent-wxx-c21="" class="grid-item">
          <img src="https://cdn.pixabay.com/photo/2015/06/08/15/13/hamburger-801942_960_720.jpg" class="card-img-top"
            alt="...">
        </li>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Burger Sauvage 2</h5>
          <div class="card-text text-black-50">Bacon & frites maison</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide Two - Set the background image for this slide in the line below -->
  <!-- <div class="carousel-item"
        style="background-image: url('https://cdn.pixabay.com/photo/2015/06/08/15/13/hamburger-801942_960_720.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div> -->
  <!-- Slide Three - Set the background image for this slide in the line below -->
  <!-- <div class="carousel-item"
        style="background-image: url('https://cdn.pixabay.com/photo/2014/08/26/15/36/canteen-428126_960_720.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div> -->