<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">FoodTruck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>