
body{
    background-color:#eee;
    margin-top:20px;
}
.job-detail {
    border: 1px solid #ececec;
    border-radius: 6px;
    background-color:#fff;
}
.form-button .nice-select {
    width: 100%;
    height: 39px;
    line-height: 37px;
    color: #6b757d;
    margin-bottom: 1rem;
    border: solid 1px #e9e9e9;
}

.resume-user {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 66px;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #e9e9e9;
    color: #ff4f6c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}